*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9e9e9;
}
.cabecalho{
    background-color: #ffb81f;
    padding: 15px;
    text-align: center;
}
.logo, .menu{
    padding: 10px;
}
a:link, a:visited{
    color: #ecc188;
}
a:hover{
    background-color: #fff;
    color: #ffb81f;
    text-decoration: underline;
}
.cabecalho a:link, .cabecalho a:visited{
    color: #FFF;
    padding: 12px 8px;
}
.cabecalho a:hover{
    background-color: #fff;
    color: #ffb81f;
    padding: 12px 8px;
}
a{
    text-decoration: none;
    
}
.principal{
   padding: 15px;
    width: 920px;
    margin: 0 auto;
}
.postagens{
    width: 660px; 
    /* background-color: #ffb4b4; */
    float: left;
}
.lateral{
    width: 240px; 
    background-color:  #fff;
    float: right;
    margin-bottom: 10px;

}
.post-lateral{
    padding: 10px;
    margin-bottom: 10px;
}
.txtLateral{
    font-size: 0.8em;
    padding: 5px;
}
.rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #CCC;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
}

.postagem img{
    width: 620px;
}
h2{
    color: #ffb81f;
}
h3{
    color: #333333;
    padding: 5px;
    background-color: #ffc85165;
}
.data-post{
    font-size: 0.8em;
    border-bottom: 1px solid #bbbbbb;
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
}